<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/add">Add Asset<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<body>
    <img src="https://cdn.pixabay.com/photo/2013/07/16/07/55/man-162951__340.jpg">
    <img src="https://cdn.pixabay.com/photo/2015/07/31/17/52/suit-869380__340.jpg">
    <img src="https://cdn.pixabay.com/photo/2018/03/10/12/00/paper-3213924__340.jpg">
</body>
