
<div>
    <input type="search" name="search" id="input" placeholder="Search" class="form-control" style="width:400px; height: 40px; margin: 0 0 30px 500px;"(input)="cFun($event)" value="" required="search" title="">
</div>
<div class="row">
    <div class="col-md-3 card card-body" *ngFor ="let movies of searchMovies">
            <h4>Movie : {{movies.Title}}</h4>
            <h4>Year : {{movies.Year}}</h4>
            <a href="{{movies.Poster}}"><img src="{{movies.Poster}}" alt=""></a>
       
    </div>
</div>
