<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/help">Help</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/property-binding">property Binding</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" routerLink="/event-binding">Event  Binding</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/searchValue">Two way  Binding</a>
      </li>
      <li class="nav-item ">
          <a class="nav-link" routerLink="/ng-for">ngFor</a>
      </li>

      <li class="nav-item ">
          <a class="nav-link" routerLink="/reactive-form">Reactive Form</a>
      </li>

      <li class="nav-item ">
          <a class="nav-link" routerLink="/parent">Parent</a>
      </li>

      <li class="nav-item ">
        <a class="nav-link" routerLink="/comment-details">Comment Details</a>
    </li>
      
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/ng-if">ngif <span class="sr-only">(current)</span></a>
          </li>
       </ul> 

       <li class="nav-item ">
          <a class="nav-link" routerLink="/ng-switch">ngSwitch</a>
      </li>

      <li class="nav-item active">
          <a class="nav-link" routerLink="/register">Register</a>
      </li>

      <li class="nav-item active">
          <a class="nav-link" routerLink="/form1">Form1</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/form2">Form2</a>
      </li>

    <li class="nav-item active">
      <a class="nav-link" routerLink="/form3">Form3</a>
    </li>

  <li class="nav-item active">
    <a class="nav-link" routerLink="/form4">Form4</a>
  </li>

    </ul>
    </div>
  </nav>