<div class="col-md-4 offset-4 mt-5">
  <input class="form-control" type="text" placeholder="Search here...." aria-label="Search" [(ngModel)]='search'>
</div>
<table class="table product-class table-bordered table-striped table-dark mt-5 mb-5 col-md-8 offset-2">
    <thead>
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | filter: search">
       <td>{{product.pname}}</td>
       <td>{{product.pprice}}</td>
       <td>{{product.quantity}}</td>
       </tr>
    </tbody>
</table>

      

