<div class="col-md-8 offset-2 mt-4 card card-body" style="background-color: black">
        <form action="" #form="ngForm" (ngSubmit)="formData(form)">
            <h1 class="text-center" style="background-color:black;color: white">Reative_Form</h1>
            <div class="form-group">
                <input type="text" name="title" id="title" class="form-control text-center" placeholder="Add Movies" #title="ngModel" ngModel style="background-color:darkgrey;color: blue">
            </div>
            <div class="form-group">
                    <input type="text" name="title1" id="title1" class="form-control text-center" placeholder="Movie Title" #title1="ngModel" ngModel style="background-color:darkgrey;color: blue">
                </div>
                <div class="form-group">
                        <input type="url" name="url" id="url" class="form-control text-center" placeholder="Movie imgURL" #url="ngModel" ngModel style="background-color:darkgrey;color: blue">
                    </div>
            <div class="form-group">
                <textarea name="desc" id="desc" cols="30" rows="10" class="form-control text-center" placeholder="Movie Description.." #desc="ngModel" ngModel style="background-color:darkgrey;color: white"></textarea>
            </div>
            <div class="form-group">
                <button class="submit btn btn-outline-primary float-right">Add</button>
            </div>
        </form>
    </div>